{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 160,
  "proseWrap": "never",
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "semi": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
