
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}


.tit {
  margin-top: 0.5em;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.cont{
  font-size: 16px;
  text-align: center;
  color: #666;
}
